@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = "Index";
    ViewBag.TxtAlign = "text-center";
    ViewBag.HeaderTitle = "Registration System";
}

<!DOCTYPE html>
<html>
<body class="p-1">
    
    <div class="container">
        <form method="get" class="text-center">

            <div class="btn-group-vertical">
                <button type="submit" asp-action="SystemRegistration" class="btn btn-primary mb-1">System Entry Setup</button>
                <button type="submit" asp-action="ModuleSetup" class="btn btn-secondary mb-1">Module Entry Setup</button>
                <button type="submit" asp-action="VersionSetup" class="btn btn-primary mb-1">Version Entry Setup</button>
                <button type="submit" asp-action="EnhancementSetup" class="btn btn-secondary mb-1">Enhancement Entry Setup</button>
                <button type="submit" asp-action="CustomerSetup" class="btn btn-primary mb-1">Customer Setup</button>
                <button type="submit" asp-action="SysRegistration" class="btn btn-secondary mb-1">System Registration Entry</button>

            </div>

        </form>
    </div>

</body>
</html>

