@{
    ViewBag.Title = "Users Admin";
    ViewBag.HeaderTitle = "Access Denied";
}
<div class="text-right">
   <a asp-action="Index" asp-controller="UserAccount" class="btn btn-primary btn-sm">Ok</a>
</div>