<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
</head>
<body>
    <div class="form-group">
        <div class="bg-primary p-2 text-light mb-3">
            <h4>@ViewBag.HeaderTitle</h4>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
